@model AcessoModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

    <h1 class="display-4">Login</h1>

</div>

<form asp-controller="Login" asp-action="Alterar" method="post">

    <input type="hidden" asp- form="id" />

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Digite o nome">
        @Html.ValidationMessageFor(x => x.nome)
    </div>
    <div class="form-group">
        <label for="login">login</label>
        <input type="text" asp-for="login" class="form-control" placeholder="Digite seu usuário">
        @Html.ValidationMessageFor(x => x.login)
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="text" asp-for="senha" class="form-control" placeholder="Digite a senha">
        @Html.ValidationMessageFor(x => x.senha)
    </div>
    <div class="form-group">
        <label for="nivel">Nível de Acesso</label>
        <select name="nivel" id="nivel">
            <option value="administrador"> Administrador</option>
            <option value="operacional"> Operacional</option>
            <option value="administrativo"> Administrativo</option>
        </select>
    </div>
    

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>


