@model AcessoModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Realmente deseja excluir o usuario (@Model.nome_user) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Acesso" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Acesso" asp-action="ExcluirAcesso" asp-route-id="@Model.idUsr">Confirmar Exclusão </a>

