@model PedidoModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir o pedido (@Model.idPed) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Pedido" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Pedido" asp-action="ExcluirPedido" asp-route-id="@Model.idPed">Confirmar Exclusão </a>
