@model FuncionarioModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir o funcionário (@Model.nomeFuncionario) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="RH" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="RH" asp-action="Excluir" asp-route-id="@Model.idFunc">Confirmar Exclusão </a>
