@model EstoqueModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir o estoque (@Model.idItem) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Estoque" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Estoque" asp-action="ExcluirItem" asp-route-id="@Model.idItem">Confirmar Exclusão </a>

