@model OPModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir a Ordem de Produção (@Model.id) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="OP" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="OP" asp-action="ExcluirOP" asp-route-id="@Model.id">Confirmar Exclusão </a>

