@model ClienteModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Realmente deseja excluir o cliente? (@Model.razao)</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Cliente" asp-action="Listar">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button"asp-controller="Cliente" asp-action="ExcluirCliente" asp-route-id="@Model.idCli">Confirmar Exclusão </a>