@model CARModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir o registro (@Model.idRefCAR) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Administrativo" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Administrativo" asp-action="ExcluirAcr" asp-route-id="@Model.idRefCAR">Confirmar Exclusão </a>

