@model FornecedorModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Realmente deseja excluir o cliente? (@Model.razao)</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Fornecedor" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Fornecedor" asp-action="ExcluirFornecedor" asp-route-id="@Model.idForn">Confirmar Exclusão </a>
