@model CAPModel
@{
    ViewData["Title"] = "Confirmar exclusao";
}

<div class="text-center">

    <h3>Deseja excluir o registro (@Model.idRefCAP) ?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Administrativo" asp-action="Index">Cancelar Exclusão </a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Administrativo" asp-action="ExcluirtituloCAP" asp-route-id="@Model.idRefCAP">Confirmar Exclusão </a>

