@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <br />
    <p>Sistema de Gerenciamento de Estacionamento</p>
</div>

