@{
    ViewData["Title"] = "Financeiro e Fiscal";
}

<div class="text-center">

    <br />
    

    <h1 class="display-4"> Módulo Financeiro e Fiscal </h1>

    <br />

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-block" role="button" asp-controller="Administrativo" asp-action="IndexCAP"> Ir para gerencia Financeira de Contas a Pagar </a>
    </div>

     <br />

       
     <div class="d-grid gap-2 d-md-flex justify-content-md-start">    
        <a class="btn btn-primary btn-block" role="button" asp-controller="Administrativo" asp-action="IndexCAR"> Ir para gerencia Financeira de Contas a Receber </a>
    </div>

    <br />
        
</div>

